body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('BG4.jpg');
    background-size: cover;
    color: white;
   }
   .box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rgba(0,0,0,0.4);
    text-align: center;
   }
   .box b1
   {
    color: white;
    text-transform: uppercase ;
    font-weight: 700;
   }
   .box input[ type="text"], .box input[type="text"],.box input[ type="text"], .box
   input[type="text"]
   {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:3px solid orchid;
    padding: 14px 10px;
    width=220px;
    outline: none;
    color: plum;
    border-radius: 24;
    transition: o.25px
   }
   .box input[ type="text"]:focus, .box input[type="text"]:focus.box input[ type="text"],
   .box input[type="text"]
   {
    width: 270px;
    border-color: red;
   }
   .box input[type="Submit"]
   {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:3px solid orchid;
    padding: 14px 10px;
    outline: none;
    color: plum;
    border-radius: 24;
    transition: o.25px;
    cursor: pointer;
   }
   .box input[type="Submit"]:hover{
    background: rosybrown;
   }